body main section article {
    padding: 2rem;
    display: flex;
    margin-bottom: 2rem;
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

body main section article .article-card-body .article-left img {
    height: auto;
    max-width: 100%;
}

body main section article .article-card-body .article-right {
    padding: 1rem;
}

body main section article h2 {
    text-align: center;
}

body main section article .article-date {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

body main section article p {
    margin-bottom: 2rem;
}

body main section article .article-btn {
    font-weight: bolder;
    padding: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-base-white);
    background-color: var(--color-base-pink-900);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

body main section article .article-btn:hover {
    transition: all 200ms ease-out;
    background: var(--color-base-pink-800);
}

/**************************************************************************/

body main .article-content {
    padding: 1rem 2rem;
}

.article-img-container {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.article-img {
    height: auto;
    max-width: 100%;
}

.cta-container {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.cta-link {
    font-weight: bold;
    color: var(--color-base-pink-900)
}

.cta-button {
    width: 45rem;
    height: 3rem;
    display: flex;
    font-size: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    color: var(--color-base-white);
    transition: all 200ms ease-out;
    background-color: var(--color-base-green-500);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-base-green-700);
}

@media(min-width: 768px){

    body main section article {
        width: 40%;
    }

    body main section article .article-card-body {
        flex-direction: row;
    }

    .article-img {
        max-width: 40%;
    }

    body .main-blog .article-content {
        display: flex;
    }

    body .main-blog .article-content article {
        width: 100%;
    }
}