body main .article-content {
    padding: 1rem 2rem;
}

.article-img-container {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.article-img {
    height: auto;
    max-width: 100%;
}

body main h2 {
    padding: 0;
}

body main .article-content h2
body main .article-content h3,
body main .article-content h4,
body main .article-content h5,
body main .article-content h6 {
    padding: 0;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-base-pink-800);
    font-family: "Playfair Display", serif;
}

.cta-container {
    display: flex;
    margin: 2rem 0;
    justify-content: center;
}

.cta-link {
    color: var(--color-base-pink-800)
}

.cta-button {
    width: 45rem;
    height: 3rem;
    display: flex;
    font-size: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    color: var(--color-base-white);
    transition: all 200ms ease-out;
    background-color: var(--color-base-green-500);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-base-green-700);
}

@media(min-width: 768px){
    .article-img {
        max-width: 40%;
    } 
}