body footer {
    width: 100%;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--color-base-pink-800);
    border-top: 5px solid var(--color-base-pink-400);
}

@media(min-width: 768px){}

@media(min-width: 1024px){}