* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: #2b2b45;
    font-size: 62.5%;
    font-size: 1.2rem;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #f9f9f9;
}

body header {
    height: 90vh;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: rgb(255, 221, 230, 0.5);
}

body header::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    height: 90vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/nails-03.png');
}

body header .right {
    display: none;
}

body header h1 {
    margin: 1rem 0;
    font-family: "Playfair Display", serif;
}

body main h2 {
    margin: 1rem;
    color: #fe9fa6;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

body main p {
    margin: 1rem;
}

body main ul {
    margin: 1rem;
}

body main section {
    padding: .5rem;
}

body main .courses {
    padding: 1rem;
    background-color: #f2f2f2;
    border-top: 3px solid #fe9fa6;
}

body main section h3 {
    margin: 1rem 0;
    color: #fe9fa6;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

body main .courses h3 {
    color: #2b2b45;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
}

body main section p {
    margin: 1rem 0;
}

body main ul {
    list-style-type: none;
}

body main ul li {
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    align-items: center;
    justify-content: baseline;
    padding: .3rem .3rem .3rem 1.5rem;
    background: url('../assets/icons/brilha.png') no-repeat left center;
    background-size: 1rem;
}

body main section .container {
    display: flex;
    flex-direction: column;
}

body main section .container figure {
    width: 100%;
    margin-bottom: 1rem;
}

body main section .container figure a img {
    width: 100%;
    height: 100%;
}

body main section .container .tablet .pontos {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 1rem;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
}

body main section .container .tablet .pontos li {
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    align-items: center;
    justify-content: baseline;
    padding: .3rem .3rem .3rem 1.5rem;
}

body main section .container .tablet .pontos .class-x {
    background: url('../assets/icons/excluir.png') no-repeat left center;
    background-size: 1rem;
}

body main section .container .tablet .pontos .class-v {
    background: url('../assets/icons/verificar.png') no-repeat left center;
    background-size: 1rem;
}

body main section .container .tablet .nota {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

body main section .container .tablet .nota h4 {
    font-weight: 500;
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
}

body main section .container .tablet .nota p {
    font-weight: 500;
    font-size: 2.5rem;
}

body main section .container .tablet .nota .stars {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

body main section .container .tablet .nota .stars img {
    width: 1.5rem;
    height: 1.5rem;
}

body main section .container .tablet .nota .button {
    width: 100%;
    height: 3rem;
    display: flex;
    color: #f2f2f2;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: green;
    transition: all 200ms ease-out;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

body main section .container .tablet .nota .button:hover {
    cursor: pointer;
    background-color: greenyellow;
}

body main section h4 {
    color: #fe9fa6;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

body main section h5 {
    color: #fe9fa6;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Playfair Display", serif;
}

body main section .faq {
    border-radius: 2rem;
}

body main section .faq details {
    margin: .5rem;
    box-shadow: 
        rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
        rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

body main section .faq details:hover {
    cursor: pointer;
}

body main section .faq details summary {
    padding: 1rem;
}

.faq-details {
    padding: 1rem;
    background-color: #fe9fa6;
}

body footer {
    padding: 1rem;
    text-align: center;
    background-color: #fe9fa6;
}

@media(min-width: 768px){
    
    body header {
        padding: 0;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }
    
    body header .left {
        width: 50%;
        display: flex;
        padding: 1rem;
        text-align: left;
        /*padding: 0 8rem;*/
        flex-direction: column;
        justify-content: center;
    }

    body header .right {
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    
    body header .right img {
        height: 100%;
    }

    body header h1 {
        margin: 1rem;
    }

    body header p {
        margin: 1rem;
    }
    
    body main {
        padding: 0 1rem;
    }
    
    body main section {
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    body main section .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    body main section .container figure {
        width: 45%;
    }
    
    body main section .container figure a img {
        width: 100%;
    }

    body main section .container .tablet {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    body main section .container .tablet .pontos {
        width: 100%;
    }
    
    body main section .container .tablet .nota {
        width: 100%;
        text-align: center;
    }
}

@media(min-width: 1024px){

    body header {
        padding: 0 1rem;
    }

    body header .left {
        width: 69%;
        padding: 0 8rem;
    }

    body header .right {
        width: 29%;
    }

    body header .right img {
        height: 100%;
    }

    body header h1 {
        font-size: 3rem;
        text-transform: uppercase;
    }

    body header p {
        font-weight: 400;
        font-size: 1.2rem;
    }
    
    body main {
        padding: 0 10rem;
    }

    body main section .container {
        align-items: center;
    }

    body main section .container figure {
        margin: 0;
        padding: 0;
        width: 35%;
    }

    body main section .container figure a img {
        width: 100%;
        height: 100%;
    }

    body main section .container .tablet {
        width: 65%;
        height: 100%;
        flex-direction: row;
    }

    body main section .container .tablet .pontos {
        margin: 0;
        width: 50%;
        padding: .5rem;
    }

    body main section .container .tablet .pontos li {
        font-size: .8rem;
    }
    
    body main section .container .tablet .nota {
        margin: 0;
        width: 50%;
        text-align: center;
    }

    body main section .container .tablet .nota .stars img {
        width: 1rem;
        height: 1rem;
    }

    body main section .container .tablet .nota .button {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        font-weight: 400;
        padding: 1rem 2rem;
    }
}