* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;
    --color-base-white: rgb(249, 249, 249);
    --color-base-pink-100: rgb(255, 221, 230, 0.5);
    --color-base-pink-400: rgb(253, 203, 207);
    --color-base-pink-800: rgb(254, 159, 166);
    --color-base-gray-100: rgb(242, 242, 242);
    --color-base-gray-500: rgb(43, 43, 69);
    --color-base-gray-700: rgb(28, 28, 28);
    --color-base-green-500: #35A585;
    --color-base-green-700: #3AE6B4;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    color: var(--color-base-gray-500);
}

body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
}

body header {
    height: 90vh;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: var(--color-base-pink-100);
}

body header::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    height: 90vh;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/nails-03.png');
}

body header #menu-toggle {
    top: 20px;
    left: 20px;
    z-index: 3;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    font-weight: bold;
    border-radius: 50%;
    padding: 1rem 1.5rem;
    color: var(--color-base-gray-500);
    background: var(--color-base-pink-400);
}

body header #menu-toggle:hover{
    transition: all 200ms ease-out;
    background: var(--color-base-pink-800);
}

body header #sidebar-menu {
    top: 0;
    z-index: 2;
    left: -250px;
    height: 100%;
    width: 250px;
    position: fixed;
    transition: left 0.3s ease;
    color: var(--color-base-gray-500);
    background-color: var(--color-base-white);
}

body header #sidebar-menu ul {
    padding: 20px;
    margin-top: 8rem;
    list-style-type: none;
}

body header #sidebar-menu ul li {
    margin-bottom: 20px;
}

body header #sidebar-menu ul li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color-base-gray-500);
}

body header #sidebar-menu ul li a:hover {
    color: var(--color-base-gray-700)
}

body header #sidebar-menu.open {
    left: 0;
}

body.menu-open {
    overflow: hidden;
    position: relative;
}

body.menu-open::before {
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.5);
}

body header .left {
    margin-top: 4rem;
}

body header .right {
    display: none;
}

body header .left h1 {
    margin: 1rem 0;
    padding-top: 2rem;
    font-size: 4.5rem;
    font-family: "Playfair Display", serif;
}

body header .left p {
    font-size: 2rem;
}

body main h2 {
    margin: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-base-pink-800);
    font-family: "Playfair Display", serif;
}

body main p {
    margin: 1rem;
    font-size: 2rem;
}

body main section {
    padding: .5rem;
}

body main .courses {
    padding: 1rem;
    background-color: var(--color-base-gray-100);
    border-top: 3px solid var(--color-base-pink-800);
}

body main section h3 {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-base-pink-800);
    font-family: "Playfair Display", serif;
}

body main .courses h3 {
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-base-gray-500);
    font-family: "Playfair Display", serif;
}

body main section p {
    margin: 1rem 0;
}

body main ul {
    margin: 1rem;
    list-style-type: none;
}

body main ul li {
    width: 100%;
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    list-style: none;
    align-items: center;
    justify-content: baseline;
    padding: .3rem .3rem .3rem 3rem;
    background: url('../assets/icons/brilha.png') no-repeat left center;
    background-size: 2rem;
}

body main .courses .container {
    display: flex;
    flex-direction: column;
}

body main .courses .container figure {
    width: 100%;
    margin-bottom: 1rem;
}

body main .courses .container figure a img {
    width: 100%;
}

body main .courses .container .tablet .pontos {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 1rem;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
}

body main .courses .container .tablet .pontos li {
    width: 100%;
    display: flex;
    margin: .5rem;
    font-size: 2rem;
    font-weight: 500;
    list-style: none;
    align-items: center;
    justify-content: baseline;
    padding: .3rem .3rem .3rem 3rem;
}

body main .courses .container .tablet .pontos .class-x {
    background: url('../assets/icons/excluir.png') no-repeat left center;
    background-size: 2rem;
}

body main .courses .container .tablet .pontos .class-v {
    background: url('../assets/icons/verificar.png') no-repeat left center;
    background-size: 2rem;
}

body main .courses .container .tablet .nota {
    gap: 1rem;
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    text-align: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

body main .courses .container .tablet .nota h4 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}

body main .courses .container .tablet .nota p {
    font-size: 3.5rem;
    font-weight: 500;
}

body main .courses .container .tablet .nota .stars {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

body main .courses .container .tablet .nota .stars img {
    width: 2.5rem;
    height: 2.5rem;
}

body main .courses .container .tablet .nota .button {
    width: 100%;
    height: 3rem;
    display: flex;
    font-size: 2rem;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 2rem;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    text-transform: uppercase;
    color: var(--color-base-white);
    transition: all 200ms ease-out;
    background-color: var(--color-base-green-500);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

body main .courses .container .tablet .nota .button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--color-base-green-700);
}

body main section h4 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-base-pink-800);
    font-family: "Playfair Display", serif;
}

body main section h5 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-base-pink-800);
    font-family: "Playfair Display", serif;
}

body main section .faq {
    border-radius: 2rem;
}

body main section .faq details {
    margin: .5rem;
    box-shadow: 
        rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, 
        rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, 
        rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

body main section .faq details:hover {
    cursor: pointer;
}

body main section .faq details summary {
    padding: 1rem;
    font-size: 2rem
}

.faq-details {
    padding: 1rem;
    background-color: var(--color-base-pink-800)
}

body main .risco {
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

body main .risco img {
    width: 100%
}

body main .risco h6 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-base-pink-800);
    font-family: "Playfair Display", serif;
}

body footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--color-base-pink-800)
}

@media(min-width: 768px){
    
    body header {
        padding: 0;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
    }
    
    body header .left {
        width: 50%;
        display: flex;
        padding: 1rem;
        text-align: left;
        flex-direction: column;
        justify-content: center;
    }

    body header .right {
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: end;
    }
    
    body header .right img {
        height: 100%;
    }

    body header h1 {
        margin: 1rem;
    }

    body header p {
        margin: 1rem;
    }
    
    body main {
        padding: 0 1rem;
    }
    
    body main .courses {
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    body main .courses .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    body main .courses .container figure {
        width: 45%;
    }
    
    body main .courses .container figure a img {
        width: 100%;
    }

    body main .courses .container .tablet {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    body main .courses .container .tablet .pontos {
        width: 100%;
    }
    
    body main .courses .container .tablet .nota {
        width: 100%;
        text-align: center;
    }

    body main .risco img {
        width: 35rem;
        height: 20rem;
    }
}

@media(min-width: 1024px){

    body header {
        padding: 0 1rem;
    }

    body header .left {
        width: 69%;
        padding: 0 8rem;
    }

    body header .right {
        width: 29%;
    }

    body header .right img {
        height: 100%;
    }

    body header h1 {
        font-size: 3rem;
        text-transform: uppercase;
    }

    body main {
        padding: 0 10rem;
    }

    body main .courses {
        padding: 2rem;
    }

    body main .courses .container {
        gap: 1rem;
        align-items: center;
        flex-direction: row;
    }

    body main .courses .container figure {
        margin: 0;
        padding: 0;
        width: 35%;
    }

    body main .courses .container figure a img {
        width: 100%;
        height: 100%;
    }

    body main .courses .container .tablet {
        gap: 1rem;
        width: 65%;
        height: 100%;
        flex-direction: row;
    }

    body main .courses .container .tablet .pontos {
        margin: 0;
        width: 50%;
        padding: .5rem;
    }    
    
    body main .courses .container .tablet .nota {
        margin: 0;
        width: 50%;
        text-align: center;
    }    

    body main .courses .container .tablet .nota .button {
        width: 100%;
        height: 3rem;
        font-weight: 400;       
    }
}